body{
	/* box-sizing: border-box; */
}

table{
	table-layout: fixed;
}

form{
	width: inherit;
}

.mainContainer{
	width: 80vw;
	margin: 0 auto;
}

.inputCell{
	width: 8vw;
	height: 15vh;
}

#attendance-modal-containner, #create-courses-modal-container, #create-person-modal-container{
	/* visibility: hidden; */
	display: none;
	justify-content: space-between;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	top: 20vh;
	width: 60vw; /* Full width */
	height: 60vh; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(238,238,238); /* Fallback color */
	background-color: rgba(238,238,238,0.95); /* Black w/ opacity */
}

/* The Close Button */
#modal-close-button {
	color: #aaaaaa;
	font-size: 2em;
	font-weight: bold;
  }
  
#modal-close-button:hover,
#modal-close-button:focus {
	color: rgb(0,0,0); /* Fallback color */
	color: rgba(0,0,0,0.9); /* Black w/ opacity */
	text-shadow: 0 12 blue;
	text-decoration: none;
	cursor: pointer;
  }

#modal-body{
	width: 60%;
	height: 60%;
	padding-left: 5vw;
	margin-bottom: 5vw;
	align-self: center;
}

.rollSheetContainer, .rollSheetBody{
	width: 100%;
}

.rollSheetBody{
	display: block;
    width: 100%;
    overflow-x: auto;
}

.rollSheetBody tr {
	background-color: white;
}

.printableTableBody.rollSheetBody{
	display: grid;
	/* grid-template-rows: repeat(21, 50px);
	grid-template-columns: 200px repeat(25, 25px); */
	grid-template-rows: 1em repeat(20, 2.2em);
	overflow: unset;
	/* grid-template-columns: repeat(21, 50px); */
	text-align: center;
}

.rollSheetRow{
	width: 100%;
	display: grid;
    grid-template-columns: 250px repeat(25, 2.45em);
}

.printableTableBody.rollSheetBody .rollSheetCell{
	width: unset;
	/* border: 1px solid rgba(0,0,0,0.75); */
	border-left: 1px solid black;
	/* border-bottom: 1px solid black; */
	border-top: 1px solid black;
}

.printableTableBody.rollSheetBody .rollSheetRow:first-child div:first-child{
	border: unset;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

.printableTableBody.rollSheetBody .rollSheetRow div:first-child{
	width: 250px;
	border: unset;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}


.printableTableBody.rollSheetBody .rollSheetRow div:last-child{
	border-right: 1px solid black;
}

.printableTableBody.rollSheetBody .rollSheetRow:last-child div{
	border-bottom: 1px solid black;
}

.printableTableBody.rollSheetBody .rollSheetRow:first-child div{
	/* border: 1px solid black; */
	border-left: 1px solid black;
	border-right: 1px solid black;
	height: 1em;
}

.rollSheetBody th {
	position: -webkit-sticky; 
	position: sticky;
	left: 0;
	background-color: white;
}

.rollSheetBody thead th:first-child {
	left: 0;
	z-index: 1;
}

.courseHeadersContainer{
	display: none;
}

.printableRevealed{
	margin-top: 2vh;
	display: grid;
	grid-template-rows: 2em 7em;
	row-gap: 2vh; 
}

.courseHeaders{
	display: flex;
	justify-content: stretch;
	align-content: stretch;
	height: 4em;
	width: 80vw;
}

.courseHeaders > div{
	width: 100%;
}

.rollSheetCell.printableBoxCell{
	width: 25em;
}

.rollLeadHeading{
	justify-self: center;
}

.paginatorContainer{
	display: flex;
    justify-content: space-evenly;
    width: 50vw;
    margin: 0 auto;
}

@media print{
	tr{
		border: 1px solid black;
	}

	.courseHeaders{
		width: 100%;
		padding-bottom: 1em;
	}

	.mainContainer {
		width: 90vw;
	}

	.paginatorContainer, .viewTypeBtn{
		display: none;
	}

	.rollSheetRow{
		grid-template-columns: 250px repeat(25, 1.21em);
	}
}

@page { 
	size: auto;  
	margin: 0mm; 
}