.componentMainContainer{
	display: grid;
	grid-template-rows: 1fr 3fr;
}

.userNavBar{
	display: flex;
	/* justify-content: space-around; */
}

.navAuthInput{
	padding: 0.20em;
	width: 125px;
	margin: 5px 2px;
	/* align-self: flex-start; */
}

.paddingDay:disabled{
	background-color: rgb(245,245,245);
}

#roll-sheet-table{
	width: 100%;
	table-layout:fixed;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 8px;
  }

.rollSheetCell{
	width: 8em;
	height: 1em;
}

.rollSheetCell.rollSheetNameCell p{
	width: 12em;
}

.rollLeadHeaderBox{
	border: 1px solid black;
}

.paginatorContainer{
	margin-bottom: 4rem;
}

.paginatorElement{
	font-size: 6em;
}

.paginatorElement:hover{
	-webkit-text-shadow: 0px 0px 30px rgba(69, 102, 224, 0.67);
	-moz-text-shadow:    0px 0px 30px rgba(69, 102, 224, 0.67);
	text-shadow:         0px 0px 30px rgba(69, 102, 224, 0.67);
	cursor: pointer;
}

